$text-color: #BFB5B5;
$color: #ffffff;
$input-color: #654AAA;
$input-border: #7C65B6;
$border-cell: #C46FA5;
$bg-color-cell: #BA5696;
$nav-bg-color: #312450;
$nav-lin-grad-left: #4B0E90;
$nav-lin-grad-right: #7D1984;
$baner-bg-color: #592F9C;
$baner-btn-color: #6F56AF;
$news-lin-grad-top: #3C288A;
$news-lin-grad-bottom: #4432A5;
$iner-btn-color: #6365B1;
$table-block-bg-color: #B74E91;
$contacts-bg-color: #5E42A6;
$footer-bg-color: #493382;
$footer-text:#5F4C91;
$g-page-nav: #CAB3EC;